<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFHj8tKmCRuZdyvAf11SiHHR054BG9Fkg&callback=initMap"></script>

<p>
 <div>
  <table>
   <tr><th>地図</th><td><div id="map"></div></td></tr>
   <tr><th>足あと</th><td><div id="dmap"></div></td></tr>
   <tr><th>Google Map</th><td><div id="gmap"></div></td></tr>
   <tr><th>緯度</th><td><input id="latitude" type="textarea"></td></tr>
   <tr><th>経度</th><td><input id="longitude" type="textarea"></td></tr>
   <tr><th>加速度+重力加速度(x)</th><td><input id="x1" type="textarea"></td></tr>
   <tr><th>加速度+重力加速度(y)</th><td><input id="y1" type="textarea"></td></tr>
   <tr><th>加速度+重力加速度(z)</th><td><input id="z1" type="textarea"></td></tr>
   <tr><th>加速度(x)</th><td><input id="x2" type="textarea"></td></tr>
   <tr><th>加速度(y)</th><td><input id="y2" type="textarea"></td></tr>
   <tr><th>加速度(z)</th><td><input id="z2" type="textarea"></td></tr>
   <tr><th>コンパス角度</th><td><input id="compassH" type="textarea"></td></tr>
   <tr><th>コンパス方角</th><td><input id="compassW" type="textarea"></td></tr>
   <tr><th>コンパス精度</th><td><input id="compassA" type="textarea"></td></tr>
  </table>
 </div>
</p>
